<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
    <listeners>
        <listener
                class-name="org.enggQA.listner.TestListener" />
    </listeners>
    <test name="MobileUi-testing">
        <classes>
            <class name="org.enggQA.testCases.mobile.MeetingTestcases">
                <methods>
                    <include name="validateEndToEndFlowOfApp"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>